.burger {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.burger__content {
    width: 60%;
    height: 100%;
    padding: 80px 20px 80px 20px;
    background-color: rgb(61, 61, 61);
    opacity: 0.9;
}

.burger_open {
    visibility: visible;
    opacity: 1;
}

.burger-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.burger-nav-link {
    font-family: "Russo One", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 26px;
}