.coming-soon-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.coming-soon-card {
    width: 300px;
    height: 500px;
    background-color: brown;
    border-radius: 20px;
}

.coming-coon-title {
    text-align: center;
}