.footer {
    background-color: rgb(61, 61, 61);
}

.footer__inner {
    padding: 20px;
}

.footer-title {
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: white;
    opacity: 0.7;
}