.gallery {
    position: relative;
}

.gallery__slides {
    height: 600px;
    position: relative;
}

.gallery__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.gallery__slide_active {
    opacity: 1;
}

.box {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box__text-wrapper {
    position: relative;
    left: 50px;
    top: 50px;
    max-width: 500px;
}

.box__title {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 50px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}
.box__title-white {
    color: white;
}

.box__subtitle {
    font-size: 28px;
    color: white;
}

.gallery__controls-wrapper {
    position: absolute;
    width: 100%;
    bottom: 40%;
}

.gallery__controls {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.hp-banner {
    background-image: url(../resources/news/hp-benner.png);
}

.acer-banner {
    background-image: url(../resources/news/acer-banner.png);
    background-position: 50% 50%;
}

.asus-banner {
    background-image: url(../resources/news/asus-banner.jpg);
    background-position: 50% 50%;
}

.gallery__control-prev {
    width: 50px;
    height: 50px;
    background-image: url(../resources/news/prev.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateY(180deg);
}

.gallery__control-next {
    width: 50px;
    height: 50px;
    background-image: url(../resources/news/prev.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 768px) {
    .box__text-wrapper {
        left: 20px;
        top: 20px;
        max-width: 300px;
    }

    .box__title {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 30px;
    }

    .box__subtitle {
        font-size: 14px;
    }

    .gallery__controls {
        opacity: 0.5;
        padding-left: 10px;
        padding-right: 10px;
    }

    .gallery__slides {
        height: 350px;
    }

    .acer-banner {
        background-position: 70% 50%;
    }

    .asus-banner {
        background-position: 60% 50%;
    }
}