.gallery {
    position: relative;
}

.gallery__title-wrapper {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 30px;
    z-index: 100;
}

.gallery__slides {
    height: 500px;
    position: relative;
}

.gallery__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.gallery__slide_active {
    opacity: 1;
}

.box {
    height: 100%;
}

.gallery__controls-wrapper {
    position: absolute;
    width: 100%;
    bottom: 50%;
}

.gallery__controls {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}