.selection__cards {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
}

.selection__card:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.5s ease;
}   

.selection__card-logo {
    width: 150px;
    height: 90px;
    object-fit: contain;
}

