.selection__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.selection__card:hover {
    opacity: 0.7;
    cursor: pointer;
}   

.selection__card-logo {
    width: 150px;
    height: 70px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .selection__cards {
        justify-content: center;
    }
}