.top__charts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.chart {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 400px;
}

.chart__img {
    width: 40%;
    height: 100%;
    object-fit: contain;
}

.chart__text-wrapper {
    width: 60%;
    height: 100%;
    padding: 20px;
}

.chart__text-wrapper-title {
    margin-bottom: 40px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.opacity {
    opacity: 0.5;
}

.chart__text-wrapper-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.chart__param {
    font-size: 22px;
}

.chart__price {
    display: block;
    width: 200px;
    text-align: center;
    line-height: 38px;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.chart__price:hover {
    opacity: 0.5;
}

.bubble__sale {
    position: absolute;
    width: 150px;
    font-size: 22px;
    line-height: 40px;
    border-radius: 10px;
    background-color: rgb(236, 184, 52);
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
}